@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* width */
body::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #001e28;
}

.products-top{
  position: relative;
  display: flex;
}

.product-btn {
  display: flex;
  margin-top: 25px;
  width: 100%;
}

.product-btn button {
  display: block;
  margin: 0 auto;
  background-color: #001e28;
  color: #ffffff;
  box-shadow: 0 0 5px #001e28;
  transition: all 0.5s;
  border: none;
}

.product-btn button:hover {
  background-color: #ffffff;
  color: #001e28;
}

.ant-layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-items {
  position: relative;
  margin-right: 10px;
  margin-left: auto;
  cursor: pointer;
}

.ant-layout-header .anticon svg {
  font-size: 30px;
  vertical-align: middle;
}

.cart-items span {
  font-size: 18px;
}

.cart-badge {
  padding: 5px;
  top: -10px;
  right: -25px;
  background-color: #001e28;
  color: #ffffff;
  border-radius: 50px;
}

.cart-minus {
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.cart-minus:hover {
  filter: drop-shadow(0 0 2px #001e28);
  color: #ffffff;
}

.cart-plus {
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.cart-plus:hover {
  filter: drop-shadow(0 0 2px #001e28);
  color: #ffffff;
}

.cart-quantity {
  font-size: 20px;
  vertical-align: bottom;
}

.cart-action {
  cursor: pointer;
  transition: all 0.5s;
}

.cart-action:hover {
  filter: drop-shadow(0 0 2px #ff0000);
  color: #ffffff;
}

.loading {
  position: absolute;
  left: 50%;
  top: 40%;
  text-align: center;
  letter-spacing: 1.3px;
  z-index: 1000;
  color: #001e28;
}

.cart-edit {
  cursor: pointer;
  transition: all 0.5s;
  margin-left: 30px;
}

.cart-edit.eye {
  margin-left: unset;
}

.cart-edit:hover {
  filter: drop-shadow(0 0 2px #0000ff);
  color: #ffffff;
}

.add-new {
  display: block !important;
  margin: 0 0 15px auto !important;
  background-color: #001e28 !important;
  color: #ffffff !important;
  box-shadow: 0 0 5px #001e28 !important;
  transition: all 0.5s;
  border: none !important;
}

.add-new:hover {
  background-color: #ffffff !important;
  color: #001e28 !important;
}

.category {
  height: 80px;
  display: flex;
  align-items: center;
}

.categoryBtn {
  margin: 0 10px;
  border: none;
  height: 40px;
  padding: 3px 30px;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
}
.categoryBtn:hover{
  transition: 0.8s;
  background-color: #001e28;
  color: #a5b1b4;
}

.category-active {
  box-shadow: 0 0 5px #afafaf;
  background-color: #001e28;
  color: #a5b1b4;
}

.searchInput{
  position: relative;
  width: 140vh;
  margin-left: 10px;
}

.searchInput .searchInputHome{
  border: 1px solid #001e28;
  padding: 5px 20px;
  border-radius: 10px;
  height: 40px;
  width: 100%;
}
.searchInput .searchInputHome:focus{
  outline: none;
}
.searchInput .searchInputProduct{
  margin: 10px 0px 20px 10px;
  border: 1px solid #001e28;
  padding: 5px 20px;
  border-radius: 10px;
}
.searchInput .searchInputProduct:focus{
  outline: none;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form h2 {
  letter-spacing: 2px;
  color: #001e28;
  font-size: 1.6rem;
}

.form p {
  letter-spacing: 1.3px;
  color: #001e28;
  font-size: 1.1rem;
}

.form-group {
  box-shadow: 0 0 2px #001e28;
  padding: 10px 15px;
}

.form-group input {
  border: none;
  outline: none !important;
  border-bottom: 1px solid #001e28;
  width: 400px;
  height: 40px;
  padding: 5px 15px;
}

.form-group input:focus,
.form-group input:hover {
  border-color: #001e28;
}

.form-other {
  color: #001e28;
  letter-spacing: 1.3px;
  transition: all .1s ease-in-out;
}

.form-other:hover {
  color: #03141a;
  text-decoration: underline;
  font-size: 1rem;
}

.subTotal {
  margin-top: 40px;
  text-align: right;
}

.cardHeader h2 {
  letter-spacing: 1.3px;
  color: #001e28;
}

.cardHeader span {
  display: flex;
  justify-content: center;
  color: #001e28;
  letter-spacing: 1.3px;
}

.cardBody {
  margin-top: 30px;
}

.cardBody .group {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #001e28;
  padding-top: 10px;
}

.footerCard {
  margin: 15px 0;
  box-shadow: 0 0 15px #afafaf;
  padding: 5px 15px;
  border-radius: 5px;
}

.cardFooter h4 {
  margin-top: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.YourOrderText{
  margin-top: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footerCard .group {
  display: flex;
  justify-content: space-between;
}

.footerCardTotal {
  width: 200px;
  margin: 25px 0 0 auto;
}

.footerCardTotal .group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerThanks {
  text-align: center;
  margin-top: 10px;
  color: #001e28;
}

.bills-btn-add {
  margin-top: 15px;
}

.bills-btn-add .add-new {
  font-size: 12px !important;
  padding: 5px !important;
}

.add-new{
  background-color: red;
}

.twoButtonsContainer{
  display: flex;
}

.doubleArrow{
  margin-left: auto;
  z-index: 1500;
}

.options-container {
  display: flex;
  transition: transform 0.3s ease;
}

.options-container.visible {
  transform: translateX(0); 
  opacity: 1;
}

.options-container.hidden {
  transform: translateX(100%);
  opacity: 0;
}

.cancel-category{
  margin: 10px !important;
  margin-left: auto !important;
  border-radius: 5px !important;
  transition: 0.5s !important;
}

.delete-category{
  border-radius: 5px !important;
  background-color: #001e28 !important;
  margin: 10px !important;
  color: white !important;
  transition: 0.3s !important;
}
.delete-category:hover{
  background-color: white !important;
  color: black !important;
}
.report-select-div{
  margin: 20px 20px 20px 0px;
}

.categories-slide{
  overflow-x: auto;
  display: flex;
}
.categories-slide::-webkit-scrollbar {
  display: none;
}

.product-data{
  display: flex;
  font-size: 18px;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
}

.product-data-container{
  display: flex;
  align-items: center;
}
.quantity-container{
  margin-right: 9px;
  user-select: none;
  cursor: pointer; 
}
.goBack-btn{
  border: none;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #001e28;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.5s;
}
.goBack-btn:hover{
  background-color: #dfdede;
  color: black;
}
.All-products-Categories-heading{
  font-size: 20px;
}
.secret-key-input{
  border: 1px solid rgb(146, 146, 146);
  border-radius: 3px;
  height: 30px;
  width: 100%;
  padding: 10px;

}
.secret-key-input:focus{
  outline: none;
}
.logout-confirm{
  border-radius: 5px !important;
  background-color: #ff7f50 !important;
  margin: 10px !important;
  color: white !important;
  transition: 0.3s !important;
}
.logout-confirm:hover{
  background-color: white !important;
  color: #ff7f50 !important;
}

.upload-cancel{
  border: none !important;
  margin-left: auto;
  background-color: #d63232 !important;
  color: white !important;
  box-shadow: 0 0 5px #d63232 !important;
  transition: 0.5s !important;
}
.upload-cancel:hover{
  background-color: white !important;
  color: #d63232 !important;
}
.upload-confirm{
  border: none !important;
  margin: 0 20px;
  background-color: #001e28 !important;
  color: white !important;
  box-shadow: 0 0 5px #001e28 !important;
  transition: 0.5s !important;
}
.upload-confirm:hover{
  background-color: white  !important;
  color: #001e28 !important;
}
.order_waiter{
  text-align: center;
  color: grey;
  margin-top: 15px;
  width: 100%;
  background-color: #fafafa;
  border-radius: 5px;
}